.container {justify-content: center;justify-items: center; display: flex; margin-top: 15%; position: relative; 
   }

#color-box { height: 100px; width:100px ; background-color: rgb(190, 241, 224); padding: 80px 80px; border-radius: 10%; 
   box-shadow: 10px 7px 10px rgb(48, 45, 45);}

h1 {position: absolute; top: 5%; color: rgb(95, 37, 150); font-style: italic; font-size: 27px;}


 button {position: absolute; bottom: 13%;left: 46.15%; list-style: none; text-decoration: none;
    text-align: center; padding: 1% 1%; border-radius: 35%; font-family: Arial, Helvetica, sans-serif;  font-style: italic; 
font-weight: bolder ;color: rgb(193, 236, 222); background-color: rgb(91, 170, 235); border: none;
 box-shadow: 4px 6px 4px rgb(48, 45, 45); } 

button:hover {
   background-color: rgb(8, 99, 79);
   color: rgb(10, 27, 105);
 }